<div>
        <span id="copy">&copy; Made by stav tamam</span>
        <span class="social">
                <a href="https://www.facebook.com/stavt1" target="_blank" rel="noopener noreferrer"><img
                                src="https://firebasestorage.googleapis.com/v0/b/stav-project.appspot.com/o/facebook.png?alt=media&token=cbda5445-d0f9-450d-80a7-be8b93e55ea3"
                                alt="facebook"></a> &nbsp;
                <a href="https://wa.me/972585438899" target="_blank" rel="noopener noreferrer"> <img
                                src="https://firebasestorage.googleapis.com/v0/b/stav-project.appspot.com/o/whatsapp.png?alt=media&token=5c8df9f0-eb0c-4866-8982-0f3f77169d01"
                                alt="whatsapp"></a>&nbsp;
                <a href="https://www.linkedin.com/in/stav-tamam-958355162/" target="_blank" rel="noopener noreferrer">
                        <img src="https://firebasestorage.googleapis.com/v0/b/stav-project.appspot.com/o/linkedin.png?alt=media&token=b7c74af0-e547-473b-b28e-d62b6bf77ca6"
                                alt="linkedin"></a> &nbsp;
        </span>
</div>