<div class="home" id="home">
    <img src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1052&q=80"
        alt="computer programing" class="center" id="border">
    <h1 class="centered" id="head"></h1>
    <!-- <h1 class="centered" id="head"></h1> -->

</div>

<section id="project">
    <hr class="breaker first">
    <h1 class="projects">Projects</h1>

    <div class="container">
        <div class="row">
            <div class="col-1">
                <a class="float-left controler" id="leftArrow">
                    <span class="carousel-control-prev-icon carousel-control" aria-hidden="true"
                        (click)="controlerPrev()"></span>
                    <span class="sr-only">Previous</span>
                </a>
            </div>
            <div class="col-10 ">
                <div class="grid-container scroller" id="outerWrapper">
                    <div class="grid-item" *ngFor='let project of projects' (click)="getProject(project.id,$event)"
                        data-toggle="modal" data-target="#projects">
                        <div class="insta-highlight">
                            <i class="{{project.icon}} fa-5x"></i>
                        </div>
                        <span>{{project.name}}</span>
                    </div>
                </div>
            </div>
            <div class="col-1">

                <a class="float-right controler" id="rightArrow">
                    <span class="carousel-control-next-icon carousel-control" aria-hidden="true"
                        (click)="controlerNext()"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>


</section>

<section id="about"><br>
    <hr class="breaker">
    <h1>About</h1>
    <br>
    <div class="about-div">
        <div class="image">
            <img src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t1.0-9/43952766_10218147208579581_5138674571456544768_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=2mnYHE31mJUAX-F5lU2&_nc_ht=scontent.ftlv6-1.fna&oh=a9c63cbb2121754402466b7150b9425d&oe=607B0AC9"
                alt="" class="about">
        </div>
        <div class="content">
            <span><strong><em>Hi, I'm Stav. Nice to meet you!</em></strong></span><br>
            <hr class="saperater">
            <span>Graduated from Hackeru fullstack web development studies.</span><br>
            <span>Studying information system at the academic of Tel Aviv Yaffo</span><br>
        </div>
    </div>
    <div class="skills">
        <h1>Skills</h1>
    </div>
</section>
<div style="background-color: #735D78;">
    <section id="contact"><br>
        <hr class="breaker second">
        <h1>Contact Me</h1>
        <br><br><br>
    </section>
</div>
<div class="modal fade" id="projects" tabindex="-1" role="dialog" aria-labelledby="projects" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="projects">{{project.name}}</h4>
                <button type="button" class="btn btn-sm" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-2x x-icon"></i>
                </button>
            </div>
            <div class="modal-body">
                <iframe [src]="urlSafe" frameborder="0" width="100%" height="420"></iframe>
            </div>
        </div>
    </div>
</div>