@import url(https://fonts.googleapis.com/css?family=Raleway);

.img{
    background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1052&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 1.5vh);
    display: block;
    filter: brightness(60%);
}
.home{
    /* margin-top: 5.5%; */
    padding: 0;
    border: 5px double white;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Fascinate', cursive;
    text-shadow: 0 0 0;
}
strong{
    font-size: 25px;
    /* font-family: 'Fascinate', cursive; */
}
#project{
    padding-top: 3em;
    padding-bottom: 10%;
}
.projects{
    margin: 2em;
}

hr.breaker {
    width: 80%;
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    text-align: center;
}
hr.breaker:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.breaker:after {
    content: "∞";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    color: white;
    font-family: 'Fascinate', cursive;
    background:#735D78;
}

hr.first:after{
    background: #565264;
}

hr.second:after{
    background: #D1B3C4;
}

h1{
    font-family: 'Fascinate', cursive;
    text-align: center; 
}

a{
    background-color: #565264;
    color: white;
    float: right;
    transition: 0.4s;
}
a:hover{
    color: white;
    box-shadow: 0 4px 8px 0 rgba(57, 0, 153, 0.2), 0 6px 20px 0 rgba(57, 0, 153, 0.19);
    transform: scale(1);
}
.modal{
    font-family: 'PT Sans', sans-serif;
    color: #565264;
}
.modal-header{
    background-color: #565264;
    color: white;
}
li{
    text-align: left;
    list-style-type: none;
}
.x-icon{
    color: white;
   font-size: 2em !important;
}


#about{
    padding-top: 2em;
    padding-bottom: 26%;
    background-color: #735D78;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.about-div{
    width: 90%;
    margin: 0 auto;
  } 
  .contentAbout{
      margin: 0 !important;
  }

  hr.saperater{
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
  }

  img.about{
      width: 50%;
      border-radius: 50%;
      border: 3px double white;
      margin: 10px;
  }
  .image{
      width: 10%;
      height: auto;
      /* margin: 0 auto; */
      /* margin-right: 3%; */
  }

  .skills{
      margin-top: 2em;
      padding: 1em;
      text-align: center;
  }
  h1{
      margin-top: 1em;
      text-shadow: 0 0 5px #E8C2CA,0 0 5px #735D78;
  }


#contact{
background-color: #D1B3C4;
border-top-right-radius: 1em;
border-top-left-radius: 1em;
}

@media only screen and (max-width: 900px){

    .about-div{
        width: 100%;
    }
    img.about{
        width: 100%;
    }
}


.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 100%;
    height: 25vh;
}

img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    /* filter: brightness(70%); */
    border-radius: 5px;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}

/*sign*/

.owl-theme .owl-controls .owl-page.active span .owl-prev .ng-star-inserted .fa-chevron-left{
    background-color: red !important;
    background: none !important;
}
.owl-nav{
    background: red;
}






