<div class="home" id="home">
    <div class="img"></div>
    <h1 class="centered" id="head"></h1>
</div>
<section id="project">
    <hr class="breaker first">
    <h1 class="projects">Projects</h1>
    <br>
    <owl-carousel-o [options]="slideOptions">
        <ng-template carouselSlide *ngFor='let project of projects'>
            <div class="" (click)="getProject(project.id,$event)" data-toggle="modal" data-target="#projects">
                <div class="item slide">
                    <div class="content">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="{{project.img}}">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">{{project.name}}</h3>
                            <p class="content-text"><i class="{{project.icon}}"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>


</section>

<section id="about"><br>
    <hr class="breaker">
    <h1>About</h1>
    <br>
    <div class="about-div row">
        <div class="image col-3">
            <img src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t1.0-9/43952766_10218147208579581_5138674571456544768_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=2mnYHE31mJUAX-F5lU2&_nc_ht=scontent.ftlv6-1.fna&oh=a9c63cbb2121754402466b7150b9425d&oe=607B0AC9"
                alt="" class="about">
        </div>
        <div style="text-align: left;" class="contentAbout col-9">
            <span><strong><em>Hi, I'm Stav. Nice to meet you!</em></strong></span><br>
            <span>I design and code beautifully simple things, and I love what I do.</span>
            <hr class="saperater">
            <span>I like to code things from scratch, and enjoy bringing ideas to life in the browser. <br> I'm queitly
                confident, naturally curious, and constantly working on improving myself.<br>
                I honestly think that skills can be taught, but personality is inherent, and I prefer to keep learning,
                <br>
                continue challenging myself, and do intresting things that matter. <br>

            </span><br>

        </div>
    </div>
    <div class="skills">
        <h1>Skills</h1>
    </div>
</section>
<div style="background-color: #735D78;">
    <section id="contact"><br>
        <hr class="breaker second">
        <h1>Contact Me</h1>

        <br><br><br><br><br><br><br>

    </section>
</div>
<div class="modal fade" id="projects" tabindex="-1" role="dialog" aria-labelledby="projects" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="projects">{{project.name}}</h4>
                <button type="button" class="btn btn-sm" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-2x x-icon"></i>
                </button>
            </div>
            <div class="modal-body">
                <h6>Some details:</h6>
                <p>{{project.description}}</p>
                <h6>Languages used in project:</h6>
                <ul>
                    <li *ngFor='let lang of project.langs'><i class="fas fa-star-of-life"></i>
                        {{lang | titlecase}}</li>
                </ul>
                <a href="{{project.url}}" target="_blank" class="btn">Check me out
                    <i class="fas fa-angle-double-right fa-sm"></i></a>
                <!-- <iframe [src]="urlSafe" frameborder="0" width="100%" height="420"></iframe> -->
            </div>
        </div>
    </div>
</div>