/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=PT+Sans:ital@0;1&display=swap');

body{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/stav-project.appspot.com/o/cool-background.png?alt=media&token=2e95f92d-5f52-4882-826a-0edafa8ce16e");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #A092B0; */
    color: white;
    font-family: 'PT Sans', sans-serif;
}